= link_to 'Edit', edit_classroom_path(@classroom), class: "primary-btn small"
= link_to 'Back', classrooms_path, class: "primary-btn back"
%div.row
  %div.col-lg-4  
    %h3 Class Sections
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Classroom
          %th Total Students

      %tbody
        - @classroom.streams.each do |stream|
          %tr
            %td= link_to stream.name, stream
            %td= "#{stream.classroom.name} #{stream.classroom.year.year}"
            %td= stream.students.count

      %tbody
        - @classroom.streams.each do |stream|
          %tr
            %td= link_to stream.name, stream
            %td= "#{stream.classroom.name} #{stream.classroom.year.year}"
            %td= stream.students.count

  %div.col-lg-4
    %h3 Fees
    %table.table.table-striped
      %thead
        %tr
          %th Package
          %th Section
          %td Amount
          -# %th Total Students

      %tbody
        - @classroom.fees.each do |fee|
          %tr
            %td= link_to fee.package, fee
            %td= fee.stream.name
            %td= number_with_delimiter(fee.yearly_fee)

  %div.col-lg-4
    %h3 All Students
    %p 
    %b
      Academic Year :
      = @classroom.year.year
      \/ Class Name :
      = @classroom.name
      \/ Class Number :
      = @classroom.number

    %table.table.table-striped
      %thead
        %tr
          %th Student Name
          %th Stream

      %tbody
        - @classroom.students.each do |student|
          %tr
            %td= link_to student.stud_name, student
            %td= student.stream.name
  
  

  


 
