%div.row
  %div.col-lg-4
    %p#notice= notice

    %p
      %b Year:
      = @classroom.year.year
    %p
      %b Name:
      = @classroom.name
    %p
      %b Number:
      = @classroom.number
  
  %div.col-lg-4
  %h3 Streams
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Classroom
          %th Total Students

      %tbody
        - @classroom.streams.each do |stream|
          %tr
            %td= link_to stream.name, stream
            %td= "#{stream.classroom.name} #{stream.classroom.year.year}"
            %td= stream.students.count

  %div.col-lg-6
    %h3 Students
    %table.table.table-striped
      %thead
        %tr
          %th Student Name
          %th Stream

      %tbody
        - @classroom.students.each do |student|
          %tr
            %td= link_to student.stud_name, student
            %td= student.stream.name

    = link_to 'Edit', edit_classroom_path(@classroom)
    \|
    = link_to 'Back', classrooms_path
