%h1 Listing students
= link_to 'New Student', new_student_path
%br Total Students are #{@students.all.count}

%div.row
  %div.col-lg-6
    %table.table.table-striped
      %thead
      %tbody
        - @students.group_by(&:classroom).each do |classroom, student|
          %thead
            %tr
              %th.topline{:colspan => 3} Class #{link_to classroom.class_name, classroom} has #{classroom.students.count} students
            %tr
              %th Student Details
              %th Stream
            %tr
            - student.each do |stud|
              %tr
                %td= link_to stud.stud_name, stud
                %td= stud.stream.name

      %br

