%div.row
  %p#notice= notice
  %div.col-lg-3
    %p
      %b Student Details
      = @student.stud_name
    %p
      %b Classroom:
      = @student.classroom.name
      = @student.classroom.year.year
    %p
      %b Stream:
      = @student.stream.name
    -# %p
    -#   %b Adm no:
    -#   = @student.adm_no
    -# %p
    -#   %b First name:
    -#   = @student.first_name
    -# %p
    -#   %b Last name:
    -#   = @student.last_name

    = link_to 'Edit', edit_student_path(@student)
    \|
    = link_to 'Back', students_path
    \|
    = link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?' }
  %div.col-lg-4
    %h5 Yearly Fee & Balance
    %table.table.table-striped
      %thead
        %tr
          %th Fee Package
          -# %th Stream
          %th AC/Year
          %th Amount
          %th Paid
          %th

      %tbody
        - @student.stream.fees.each do |fee|
          %tr
            %td= link_to fee.package, fee
            -# %td= link_to fee.stream.full_name, stream_path
            %td= fee.year.year
            %td= number_with_delimiter(fee.yearly_fee)
            %td
  
            -# %td= fee.stream.student.payments.sum(:amount)
  %div.col-lg-5
    %h5 Fee Payments
    %b Total Payments OverTime : Kshs
    = number_with_delimiter(@student.payments.sum(:amount))
    %table.table.table-striped
      %thead
        %tr
          %th Fee Package
          %th Amount
          %th Method
          %th Date 
          %th 
          %th

      %tbody
        - @student.payments.group_by(&:fee).each do |fee, payments|
          %tr.thead-dark 
            %td= link_to fee.package, fee
          %tr
            -payments.each do |payment|
              %tr
                -# %td= payment.fee.package
                %td= number_with_delimiter(payment.amount)
                %td= payment.method
                -# %td= payment.date.strftime("%b %d, %y")
          %tr
            %td Total Payments for year
            %td= number_with_delimiter(payments.sum(&:amount))
          %tr
            %td Fee Balance For Year
            %td= fee.yearly_fee - payments.sum(&:amount)


