%p#notice= notice
%div.row
  %div.col-lg-3
    %p
      %b Student Details
      = @student.stud_name
    %p
      %b Classroom:
      = @student.classroom.name
      = @student.classroom.year.year
    %p
      %b Stream:
      = @student.stream.name
    -# %p
    -#   %b Adm no:
    -#   = @student.adm_no
    -# %p
    -#   %b First name:
    -#   = @student.first_name
    -# %p
    -#   %b Last name:
    -#   = @student.last_name

    = link_to 'Edit', edit_student_path(@student)
    \|
    = link_to 'Back', students_path
    \|
    = link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?' }
  %div.col-lg-4
    %h5 Yearly Fee & Balance
    %table.table.table-striped
      %thead
        %tr
          %th Fee Package
          -# %th Stream
          %th AC/Year
          %th Amount
          %th Paid
          %th Balance

      %tbody
        - @student.stream.fees.each do |fee|
          %tr
            %td= link_to fee.package, fee
            -# %td= link_to fee.stream.full_name, stream_path
            %td= fee.year.year
            %td= number_with_delimiter(fee.yearly_fee)
            %td= number_with_delimiter(fee.fee_payment_sum)
            %td= number_with_delimiter(fee.fee_balance)
            -# - fee.payments.each do |payment|
            -#   %td= payment.amount
            
  %div.col-lg-5
    %h5 Fee Payments
    %b Total Payments OverTime : Kshs
    = number_with_delimiter(@student.payments.sum(:amount))
    %table.table.table-striped
      %thead
      %tbody
        - @student.payments.group_by(&:fee).each do |fee, payments|
          %tr.thead-dark 
            %td.topline{colspan: 4}
              %b= fee.package
          %tr
            %thead
              %tr
                %th Trans #ID
                %th Method
                %th Date
                %th Amount
            -payments.each do |payment|
              %tbody
                %tr
                  %td= link_to payment.TransactionId, payment
                  %td= payment.method
                  %td= payment.date.strftime("%b %d, %y")
                  %td= link_to number_with_delimiter(payment.amount), payment
          %tr
            %th.subtotal{colspan: 3} 
              Total Payments for #{link_to fee.year.year, fee} 
            %th.subtotal #{number_with_delimiter(payments.sum(&:amount))}
          %tr
            %th.topline{colspan: 3} Fee Balance For #{link_to fee.year.year, fee}
            %th.topline= number_with_delimiter(fee.fee_balance)

%div.row
  %div.col-lg-6
    %b Students Marks:
    %table.table.table-striped
      %thead
      %tbody
        - @student.stream.subject_results.group_by(&:exam).each do |exam, results|
          %tr
            %td.topline #{link_to exam.exam_name, exam}
            %td.topline
            %td.topline
          %tr
            %thead
              %tr
                %th Subject
                %th Marks
                %th Deviation
            -results.each do |result|
              %tbody
                %tr
                  %td= link_to result.subject.name, result.subject
                  - result.marks.each do |mark|
                    -# %td= link_to mark.student.stud_name, mark.student
                    %td= mark.mark
         
                  
          
               


