%p#notice= notice
%div.row
  %div.col-lg-3
    %p
      %b Student Details
      = @student.stud_name
    %p
      %b Classroom:
      = @student.classroom.name
      = @student.classroom.year.year
    %p
      %b Stream:
      = @student.stream.name
    -# %p
    -#   %b Adm no:
    -#   = @student.adm_no
    -# %p
    -#   %b First name:
    -#   = @student.first_name
    -# %p
    -#   %b Last name:
    -#   = @student.last_name

    = link_to 'Edit', edit_student_path(@student)
    \|
    = link_to 'Back', students_path
    \|
    = link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?' }
  %div.col-lg-4
    %h5 Yearly Fee & Balance
    %table.table.table-striped
      %thead
        %tr
          %th Fee Package
          -# %th Stream
          %th AC/Year
          %th Amount
          %th Paid
          %th test
          %th Balance

      %tbody
        - @student.stream.fees.each do |fee|
          %tr
            %td= link_to fee.package, fee
            -# %td= link_to fee.stream.full_name, stream_path
            %td= fee.year.year
            %td= number_with_delimiter(fee.yearly_fee)
            -# issue with fee payment sum. taking total payments instead of current student payments
            %td= number_with_delimiter(fee.fee_payment_sum)
            %td= number_with_delimiter(fee.student_payments)
            %td= number_with_delimiter(fee.fee_balance)
            
  %div.col-lg-5
    %h5 Fee Payments
    %b Total Payments OverTime : Kshs
    = number_with_delimiter(@student.payments.sum(:amount))
    %table.table.table-striped
      %thead
      %tbody
        - @student.payments.group_by(&:fee).each do |fee, payments|
          %tr.thead-dark 
            %td.topline{colspan: 4}
              %b= fee.package
          %tr
            %thead
              %tr
                %th Trans #ID
                %th Method
                %th Date
                %th Amount
            -payments.each do |payment|
              %tbody
                %tr
                  %td= link_to payment.TransactionId, payment
                  %td= payment.method
                  %td= payment.date.strftime("%b %d, %y")
                  %td= link_to number_with_delimiter(payment.amount), payment
          %tr
            %th.subtotal{colspan: 3} 
              Total Payments for #{link_to fee.year.year, fee} 
            %th.subtotal #{number_with_delimiter(payments.sum(&:amount))}
          %tr
            %th.topline{colspan: 3} Fee Balance For #{link_to fee.year.year, fee}
            %th.topline= number_with_delimiter(fee.fee_balance)

%div.row
  %div.col-lg-6
    %b Students Marks:
    - @student.stream.subject_results.group_by(&:exam).each do |exam, results|
      %table.table.table-striped
        %thead
        %tbody
          %tr
            %td.topline{colspan: 2} #{link_to exam.exam_name, exam}
          %tr
            %thead
              %tr
                %th Subject
                %th Marks
                -# %th Teacher
                -# %th Pnts
                -# %th Grade
                -# %th Dev
            -results.each do |result|
              %tbody
                %tr
                  %td= link_to result.subject.name, result.subject
                  %td= link_to "#{result.marks.where(student_id: @student.id).pluck(:mark).sum}", result
                  -# %td Tr. Kilunda
                  -# %td 7
                  -# %td C+
                  -# %td 2^
            %tr
              %td.subtotal Total Score: 
              %td.subtotal #{results.map{|res| res.marks.where(student_id: @student.id).pluck(:mark)}.flatten.sum}
              -# %td.subtotal 21
              -# %td.subtotal C+
              -# %td.subtotal
            %tr
              %td.topline Mean Marks
              %td.topline #{(results.map{|res| res.marks.where(student_id: @student.id).pluck(:mark)}.flatten.sum) / (results.count)}
              -# %td.topline 7
              -# %td.topline C+
              -# %td.topline

  %div.col-lg-6
    

%div.row
  %div.col-lg-6
    = column_chart({"Eng" => 65.2, "Math" => 51.9, "Kis" => 59.1, "Bio" => 36.1, "Chem"=> 55.5, "Phyc" => 58.9, "H&G"=> 72.5, "Bs" => 48.1})
  
  -# ************************ AREA 51 *************************
  %div.col-lg-6
    %h3 Term One 2021
    %table.table.table-bordered.border-primary
      %thead
        %tr
          %td Subject
          %td Opener
          %td Mid Term
          %td End Term
          %td AVG
          %td Pnts
          %td Grade
          %td Teacher
          %td Remarks
      %tbody
        %tr
          %td Eng
          %td 38% D+
          %td 33% D
          %td 43 D+
          %td 35.5
          %td 3.5
          %td D+
          %td Tr. Kilunda
          %td Below Average
        %tr
          %td Kis
          %td 38% D+
          %td 33% D
          %td 43 D+
          %td 35.5
          %td 3.5
          %td D+
          %td Tr. Kilunda
          %td Below Average
        %tr
          %td Math
          %td 38% D+
          %td 33% D
          %td 43 D+
          %td 35.5
          %td 3.5
          %td D+
          %td Tr. Kilunda
          %td Below Average
        %tr
          %td Bio
          %td 38% D+
          %td 33% D
          %td 43 D+
          %td 35.5
          %td 3.5
          %td D+
          %td Tr. Kilunda
          %td Below Average
%div.row
  %div.col-lg-4
    -# = pie_chart @events.group(:food_restriction).count

%div.row
  %div.col-lg-3
    = bar_chart({"football" => 10, "basketball" => 5, "volleyball" => 7, "rugby" => 8, "fussball"=> 4})
  %div.col-lg-3
    = column_chart({"football" => 10, "basketball" => 5, "volleyball" => 7, "rugby" => 8, "fussball"=> 4})
  %div.col-lg-3
    = line_chart({"football" => 10, "basketball" => 5, "volleyball" => 7, "rugby" => 8, "fussball"=> 4})
  %div.col-lg-3
    = pie_chart({"football" => 10, "basketball" => 5, "volleyball" => 7, "rugby" => 8, "fussball"=> 4})
                  
          
               


