%h1 Subject Results

= link_to 'New Subject result', new_subject_result_path
%table.table.table-striped
  %thead
    %tr
      %th Subject
      %th Stream
      %th Exam
      %th &sum; Marks
      %th
      %th
      %th

  %tbody
    - @subject_results.each do |subject_result|
      %tr
        %td= link_to subject_result.subject.name, subject_result
        %td= subject_result.stream.full_name
        %td= subject_result.exam.exam_name
        %td= subject_result.subject_mean

%br

