%p#notice= notice
%div.row

  %div.col-lg-4
    = link_to 'Edit', edit_subject_result_path(@subject_result)
    \|
    = link_to 'Back', subject_results_path
    %br
    %p
      %b Class:
      = @subject_result.classroom.class_name
    %p
      %b Stream:
      = @subject_result.stream.full_name
    %p
      %b Exam:
      = link_to @subject_result.exam.exam_name, @subject_result.exam
    %p
      %b Subject:
      = link_to @subject_result.subject.name, @subject_result.subject
    %p
      %b Mean Mark
      = @subject_result.subject_mean 

  %div.col-lg-4
    %b Students Marks:
    %table.table.table-striped
      %thead
        %tr
          %th Student Details
          %th marks
          %th stream pos
  
      %tbody
        - @subject_result.marks.each.with_index(1) do |mark, index|
          %tr
            %td= link_to mark.student.stud_name, mark.student
            %td= mark.mark
            %td #{index}

  %div.col-lg-4
    = column_chart @subject_result.marks.group(:mark).sum(:mark)