%p#notice= notice

%p
  %b Classroom:
  = @stream.classroom.name
  = @stream.classroom.year.year
%p
  %b Name:
  = @stream.name

= link_to 'Edit', edit_stream_path(@stream)
\|
= link_to 'Destroy', @stream, method: :delete, data: { confirm: 'Are you sure?' }
\|
= link_to 'Back', streams_path

%h4 #{@stream.students.count} Students 
%table.table.table-striped
  %thead
    %tr
      %th Adm no
      %th First name
      %th Last name
      %th Classroom

  %tbody
    - @stream.students.each do |student|
      %tr
        %td= link_to student.adm_no, student
        %td= student.first_name
        %td= student.last_name
        %td= "#{student.classroom.name} #{student.classroom.year.year}"
