= form_for @result do |f|
  - if @result.errors.any?
    #error_explanation
      %h2= "#{pluralize(@result.errors.count, "error")} prohibited this result from being saved:"
      %ul
        - @result.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :class
    = f.collection_select :stream_id, Stream.all, :id, :full_name, include_blank: true
    / = f.text_field :stream
  .field
    = f.label :subject
    = f.collection_select :subject_id, Subject.all, :id, :name, include_blank: true
    / = f.text_field :subject
  .field
    = f.label :exam
    = f.collection_select :exam_id, Exam.all, :id, :exam_name, include_blank: true
    / = f.text_field :exams

  %hr 
  / list all students here and the mark field alongside if not push this fields to show
  = f.fields_for :marks do |mark|
    .field
      = mark.label :mark
      = mark.text_field :mark
    %hr 

  .actions
    = f.submit 'Save'
