%h1 Listing results

%table
  %thead.table.table-striped
    %tr
      %th Classroom
      %th Subject
      %th Exam
      %th
      %th
      %th

  %tbody
    - @results.group_by(&:stream).each do |stream, result|
      %tr
        = stream.full_name
        -result.each do |result|
          %tr
            %td= link_to result.stream.full_name, result
            %td= result.subject.name  
            %td= result.exam.name

%br

= link_to 'New Result', new_result_path
