%p#notice= notice

%p
  %b Classroom:
  ="#{@result.stream.classroom.name} #{@result.stream.name}, #{@result.stream.classroom.year.year}"
  / = @result.stream
%p
  %b Exam:
  = @result.exam.exam_name
%p
  %b Subject:
  = @result.subject.name

%b Students:
%table.table.table-striped
  %thead
    %tr
      %th Full Name
      %th Marks
      %th 

  %tbody
    - @result.marks.each do |mark|
      %tr
        %td= link_to mark.student.stud_name, student_path
        -# %td= mark.mark
        %td= best_in_place mark, :mark, path: result_path(@result.id), type: :input, param: "result[mark_attributes][id]=#{mark.id}&result[mark_attributes]" 

= link_to 'Edit', edit_result_path(@result)
\|
= link_to 'Destroy', @result, method: :delete, data: { confirm: 'Are you sure?' }
\|
= link_to 'Back', results_path
