= form_for @payment do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :fee
    = f.collection_select :fee_id, Fee.all, :id, :package, include_blank: true
  .field
    = f.label :student
    = f.collection_select :student_id, Student.all, :id, :stud_name, include_blank: true
  .field
    = f.label 'transactio id'
    = f.text_field :TransactionId
  .field
    = f.label :date
    = f.date_select :date, class: 'datepicker'
  .field
    = f.label :bank
    = f.text_field :bank
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :method
    = f.text_field :method
  .actions
    = f.submit 'Save'