= form_for @payment do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :fee
    = f.collection_select :fee_id, Fee.all, :id, :package, include_blank: true
  .field
    = f.label :student
    = f.collection_select :student_id, Student.all, :id, :stud_name, include_blank: true
    -# the below field does autocomplete search for students adm
    -# = f.text_field :student_adm, data: {autocomplete_source: Student.order(:adm_no).map(&:adm_no)}
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :method
    = f.text_field :method
  .actions
    = f.submit 'Save'
