%h1 Listing payments

%table
  %thead
    %tr
      %th Amount
      %th Method
      %th Fee
      %th Student
      %th
      %th
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.amount
        %td= payment.method
        %td= payment.fee
        %td= payment.student
        %td= link_to 'Show', payment
        %td= link_to 'Edit', edit_payment_path(payment)
        %td= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Payment', new_payment_path
