%h1 Listing payments
= link_to 'New Payment', new_payment_path

%table.table.table-striped
  %thead
    %tr
      %th Transactionid
      %th Fee
      %th Student
      %th Date
      %th Amount
      %th Bank
      %th Method
      %th
      %th
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= link_to payment.TransactionId, payment
        %td= payment.fee.package
        %td= payment.student.stud_name
        %td= payment.date
        %td= number_with_delimiter(payment.amount)
        %td= payment.bank
        %td= payment.method

%br

