%p#notice= notice

%p
  %b Fee:
  = number_with_delimiter(@payment.fee.package)
%p
  %b Student:
  = link_to (@payment.student.stud_name), @payment.student
%p
  %b Amount:
  = @payment.amount
%p
  %b Method:
  = @payment.method

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
