%p#notice= notice

%p
  %b Amount:
  = @payment.amount
%p
  %b Method:
  = @payment.method
%p
  %b Fee:
  = @payment.fee
%p
  %b Student:
  = @payment.student

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
