%p#notice= notice

%p
  %b Student:
  = link_to @payment.student.stud_name, @payment.student
%p
  %b Fee:
  = link_to @payment.fee.package, @payment.fee
%p
  %b Transaction Id:
  = @payment.TransactionId
%p
  %b Date:
  = @payment.date.strftime('%d %b, %Y')
%p
  %b Amount:
  = number_with_delimiter(@payment.amount)
%p
  %b Bank:
  = @payment.bank
%p
  %b Method:
  = @payment.method


= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
