%p#notice= notice

%p
  %b Fee:
  = @payment.fee.package
%p
  %b Student:
  = @payment.student.stud_name
%p
  %b Amount:
  = @payment.amount
%p
  %b Method:
  = @payment.method

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
