= form_for @fee do |f|
  - if @fee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fee.errors.count, "error")} prohibited this fee from being saved:"
      %ul
        - @fee.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :package
    = f.text_field :package
  .field
    = f.label :year
    = f.collection_select :year_id, Year.all, :id, :year, include_blank: true
    -# = f.text_field :year
  .field
    = f.label :classroom
    = f.grouped_collection_select :classroom_id, Year.order(:year), :classrooms, :year, :id,  :name, include_blank: true
    -# = f.text_field :classroom
  .field
    = f.label :stream
    = f.grouped_collection_select :stream_id, Classroom.order(:name), :streams, :class_name, :id,  :name, include_blank: true
    -# = f.text_field :stream
  
  %h3 Voteheads
  #voteheads
    %table
      %thead
        %tr
          %td Votehead
          %td G.O.K
          %td Parent
    = f.fields_for :voteheads do |votehead|
      = render 'votehead_fields', f: votehead
    .links 
      = link_to_add_association 'add votehead', f, :voteheads
      
  .actions
    = f.submit 'Save'
