= form_for @fee do |f|
  - if @fee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fee.errors.count, "error")} prohibited this fee from being saved:"
      %ul
        - @fee.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :package
    = f.text_field :package
  .field
    = f.label :year
    = f.text_field :year
  .field
    = f.label :classroom
    = f.text_field :classroom
  .field
    = f.label :stream
    = f.text_field :stream
  .actions
    = f.submit 'Save'
