<<<<<<< HEAD
%h1 Fee Packages
= link_to 'New Fee Package', new_fee_path, class: "primary-btn small"
%div.row
  %div.col-lg-6
    %table.table.table-striped
      %thead
        %tr
          %th Package
          %th Stream
          %th Year
          %th Amount
          %th Payments
          %th Balances

      %tbody
        - @fees.each do |fee|
          %tr
            %td= link_to fee.package, fee 
            %td= fee.stream.full_name
            %td= fee.year.year
            %td= fee.voteheads.sum(:GOK) + fee.voteheads.sum(:parent)
            %td= fee.payments.sum(:amount)
            %td= ((fee.voteheads.sum(:GOK) + fee.voteheads.sum(:parent))* fee.stream.students.count) - fee.payments.sum(:amount)
       
=======
%h1 Listing fees

%table
  %thead
    %tr
      %th Package
      %th Year
      %th Classroom
      %th Stream
      %th
      %th
      %th

  %tbody
    - @fees.each do |fee|
      %tr
        %td= fee.package
        %td= fee.year
        %td= fee.classroom
        %td= fee.stream
        %td= link_to 'Show', fee
        %td= link_to 'Edit', edit_fee_path(fee)
        %td= link_to 'Destroy', fee, method: :delete, data: { confirm: 'Are you sure?' }

>>>>>>> newfee
%br

= link_to 'New Fee', new_fee_path
