%h1 Fee Packages
= link_to 'New Fee Package', new_fee_path, class: "primary-btn small"
%div.row
  %div.col-lg-7
    %table.table.table-striped
      %thead
        %tr
          %th Package
          %th Stream
          %th Year
          %th Fee
          %th Total Fees
          %th Payments
          %th Balances

      %tbody
        - @fees.each do |fee|
          %tr
            %td= link_to fee.package, fee 
            %td= fee.stream.full_name
            %td= fee.year.year
            %td= number_with_delimiter(fee.yearly_fee)
            %td= number_with_delimiter(fee.total_fees) 
            %td= number_with_delimiter(fee.payments.sum(:amount))
            %td= number_with_delimiter(fee.balances)

/ %h1 Listing fees

/ %table
/   %thead
/     %tr
/       %th Package
/       %th Year
/       %th Classroom
/       %th Stream
/       %th
/       %th
/       %th

/   %tbody
/     - @fees.each do |fee|
/       %tr
/         %td= fee.package
/         %td= fee.year
/         %td= fee.classroom
/         %td= fee.stream
/         %td= link_to 'Show', fee
/         %td= link_to 'Edit', edit_fee_path(fee)
/         %td= link_to 'Destroy', fee, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Fee', new_fee_path
