%h1 Fee Packages
= link_to 'New Fee Package', new_fee_path, class: "primary-btn small"
%div.row
  %div.col-lg-8
    %table.table.table-striped
      %thead
        %tr
          %th Package
          %th Stream
          %th Students
          %th Year
          %th Fee
          %th Total Fees
          %th Payments
          %th Balances

      %tbody
        - @fees.each do |fee|
          %tr
            %td= link_to fee.package, fee 
            %td= fee.stream.full_name
            %td= fee.stream.students.count
            %td= fee.year.year
            %td= number_with_delimiter(fee.yearly_fee)
            %td= number_with_delimiter(fee.total_fees) 
            %td= number_with_delimiter(fee.payments.sum(:amount))
            %td= number_with_delimiter(fee.balances)
%br

= link_to 'New Fee', new_fee_path
