%h1 Fee Packages
= link_to 'New Fee', new_fee_path
%div.row
  %div.col-lg-6
    %table.table.table-striped
      %thead
        %tr
          %th Package
          %th Stream
          %th Year
          %th Amount

      %tbody
        - @fees.each do |fee|
          %tr
            %td= link_to fee.package, fee 
            %td= fee.stream.full_name
            %td= fee.year.year
            %td= fee.voteheads.sum(:GOK) + fee.voteheads.sum(:parent)
       
%br

