%h1 Fee Packages
= link_to 'New Fee', new_fee_path

%table.table.table-striped
  %thead
    %tr
      %th Package
      %th Stream
      %th Year
      %th Amount
      %th Subject
      %th
      %th
      %th

  %tbody
    - @fees.each do |fee|
      %tr
        %td= fee.package
        %td= fee.stream.full_name
        %td= fee.year.year
        %td= fee.amount
        %td= fee.subject.name
        %td= link_to 'Show', fee
        %td= link_to 'Edit', edit_fee_path(fee)
        %td= link_to 'Destroy', fee, method: :delete, data: { confirm: 'Are you sure?' }

%br

