%p#notice= notice
= link_to 'Edit', edit_fee_path(@fee)
\|
= link_to 'Back', fees_path
%div.row
  %div.col-lg-6
    %b Package:
    = @fee.package
    %br
    %b Stream:
    = @fee.stream.full_name
    %br
    %b Year:
    = @fee.year.year
    %br
    %b Total Fees 
    -# = @sum_gok
    = @fee.voteheads.sum(:GOK) + @fee.voteheads.sum(:parent)
    %br
    %b Voteheads 
    %table.table.table-striped
      %thead
        %tr
          %th Votehead
          %th G.O.K
          %th Parent
          %th Total

      %tbody
        - @fee.voteheads.each do |votehead|
          %tr
            %td= votehead.votehead
            %td= votehead.GOK
            %td= votehead.parent 
            %td= votehead.GOK + votehead.parent
        %tr{style:"background-color:red;"}    
        %td Total Fees
        %td= @fee.voteheads.sum(:GOK) 
        %td= @fee.voteheads.sum(:parent) 
        %td= @fee.voteheads.sum(:GOK) + @fee.voteheads.sum(:parent)

  %div.col-lg-5
    -# Total %Fees Fees * No of students 
    -# Outstanding Arears Total Fees - Total number of payments by students in class
    %b Students:
    %table.table.table-striped
      %thead
        %tr
          %th Adm no
          %th Full Name
          %th Paid
          %th Balances
          %th Last Payment

      %tbody
        - @fee.stream.students.each do |student|
          %tr
            %td= link_to student.adm_no, student
            %td= "#{student.first_name} #{student.last_name}"
            %td 10,000
            %td 7,000
            %td

  -# %p
    -#   %b Subject:
    -#   = @fee.subject.name
  -# %p
    -#   %b Amount:
    -#   = best_in_place @fee, :amount
  

