-# %p#notice= notice

-# %p
-#   %b Package:
-#   = @fee.package
-# %p
-#   %b Year:
-#   = @fee.year
-# %p
-#   %b Classroom:
-#   = @fee.classroom
-# %p
-#   %b Stream:
-#   = @fee.stream

-# = link_to 'Edit', edit_fee_path(@fee)
-# \|
-# = link_to 'Back', fees_path


%p#notice= notice
= link_to 'Edit', edit_fee_path(@fee), class: "primary-btn small"
= link_to 'Back', fees_path, class: "primary-btn back"
%div.row
  %div.col-lg-4
    %b Package:
    = @fee.package
    %br
    %b Stream:
    = @fee.stream.full_name
    %br
    %b Year:
    = @fee.year.year
    %br
    %b Fee For Year
    = @fee.voteheads.sum(:gok) + @fee.voteheads.sum(:parent)
    %br
    %b Total Fees 
    = (@fee.voteheads.sum(:gok) + @fee.voteheads.sum(:parent)) * @fee.stream.students.count
    %br
    %b Total Payments
    = @fee.payments.sum(:amount)
    %br
    %b Total Balances
    = ((@fee.voteheads.sum(:gok) + @fee.voteheads.sum(:parent))* @fee.stream.students.count) - @fee.payments.sum(:amount)
  
  %div.col-lg-4
    %b Voteheads 
    %table.table.table-striped
      %thead
        %tr
          %th Votehead
          %th G.O.K
          %th Parent 

      %tbody
        - @fee.voteheads.each do |votehead|
          %tr
            %td= votehead.votehead
            %td= votehead.gok
            %td= votehead.parent 
            %td= votehead.gok + votehead.parent
        %tr{style:"background-color:red;"}    
        %td Total Fees
        %td= @fee.voteheads.sum(:gok) 
        %td= @fee.voteheads.sum(:parent) 
        %td= @fee.voteheads.sum(:gok) + @fee.voteheads.sum(:parent)
 
  %div.col-lg-4
    %b Students:
    %table.table.table-striped
      %thead
        %tr
          %th Student Details
          %th Paid
          %th Paid2
          %th Balances
      %tbody
        - @fee.stream.students.each do |student|
          %tr
            %td= link_to student.stud_name, student
            %td= student.payments.sum(:amount)
<<<<<<< HEAD
            %td= student.stream.fees.sum(:amount)
            %td= student.stream.fees.sum(:amount) - student.payments.sum(:amount)
            -# %td= student.stream.fee.voteheads.sum(:GOK) + student.stream.fee.voteheads.sum(:parent)
            -# %td= student.stream.fee_ids


  
=======
            -# %td= student.stream.fees.
            -# %td= student.stream.fee.voteheads.sum(:GOK) + student.stream.fee.voteheads.sum(:parent)
            -# %td= student.stream.fee_ids
>>>>>>> newfee
