-# %p#notice= notice

-# %p
-#   %b Package:
-#   = @fee.package
-# %p
-#   %b Year:
-#   = @fee.year
-# %p
-#   %b Classroom:
-#   = @fee.classroom
-# %p
-#   %b Stream:
-#   = @fee.stream

-# = link_to 'Edit', edit_fee_path(@fee)
-# \|
-# = link_to 'Back', fees_path


%p#notice= notice
= link_to 'Edit', edit_fee_path(@fee), class: "primary-btn small"
= link_to 'Back', fees_path, class: "primary-btn back"
%div.row
  %div.col-lg-4
    %b Package:
    = @fee.package
    %br
    %b Stream:
    = @fee.stream.full_name
    %br
    %b Year:
    = @fee.year.year
    %br
    %b Fee For Year
    = number_with_delimiter(@fee.yearly_fee)
    %br
    %b Total Fees 
    = number_with_delimiter(@fee.total_fees)
    %br
    %b Total Payments
    = number_with_delimiter(@fee.payments.sum(:amount))
    %br
    %b Total Balances
    = number_with_delimiter(@fee.balances)
  
  %div.col-lg-4
    %b Voteheads 
    %table.table.table-striped
      %thead
        %tr
          %th Votehead
          %th G.O.K
          %th Parent 
          %th Sub Total

      %tbody
        - @fee.voteheads.each do |votehead|
          %tr
            %td= votehead.votehead
            %td= number_with_delimiter(votehead.gok)
            %td= number_with_delimiter(votehead.parent) 
            %td= number_with_delimiter(votehead.gok + votehead.parent)
        
        %tr.top-line    
        %td.font-weight-bold Total Fees
        %td.font-weight-bold= number_with_delimiter(@fee.gok_total) 
        %td.font-weight-bold= number_with_delimiter(@fee.parent_total) 
        %td.font-weight-bold= number_with_delimiter(@fee.yearly_fee)
 
  %div.col-lg-4
    %b Students:
    %table.table.table-striped
      %thead
        %tr
          %th Student Details
          %th Paid
          %th Balance
      %tbody
        - @fee.stream.students.each do |student|
          %tr
            %td= link_to student.stud_name, student
            %td= number_with_delimiter(student.stud_payments)
            -# work in progress with this yearly fee
            -# %td= student.stream.fees.where(id: @fee.id).yearly_fee

