%p#notice= notice
%div.row
  %div.col-lg-2
    %p
      %b Term:
      = @exam.term.term_name
    %p
      %b Exam :
      = @exam.name

    = link_to 'Edit', edit_exam_path(@exam)
    \|
    = link_to 'Back', exams_path
  
  %div.col-lg-4
    %b Overall Performance by Class
    %table.table.table-striped
      %thead
      %tbody
        - @exam.subject_results.group_by(&:classroom).each do |classroom, results|
          %tr.thead-light 
            %th.topline{:colspan => 8}  Class #{link_to classroom.class_name, classroom} Summary
          %tr
            %thead
              %tr
                %th Stream
                %th Subject
                %th Mean
                %th Students
            -results.each do |result|
              %tbody
                %tr
                  %td= result.stream.full_name
                  %td= link_to result.subject.name, result
                  %td= result.subject_mean
                  %td= result.marks.count
          %tr
            -# = line_chart results.group_by(&:subject)
            = bar_chart results.group_by(&:subject)



  -# ********************* EXPERIMENT ZONE A ************************

  %div.col-lg-6
    %b Students Performance Tables By Class:
    %table.table.table-striped
      %thead
      %tbody
        - @exam.subject_results.group_by(&:classroom).each do |classroom, results|
          %tr.thead-light 
            %th.topline{:colspan => 8}  Class #{link_to classroom.class_name, classroom} Student Results 
          %tr
            %thead
              %tr
                %th Stream
                %th Subject
                %th Marks
            -results.each do |result|
              %tbody
                %tr
                  -# %td= link_to result.stream.full_name, result
                  %td= link_to result.subject.short, result.subject
                  - result.marks.each do |mark|
                    %td= link_to mark.student.stud_name, mark.student
                    %td= mark.student.stream.full_name
                    %td= mark.mark

  -# ********************* //EXPERIMENT ZONE A ************************
%hr
  -# ********************* EXPERIMENT ZONE B ************************
%div.row
  %div.col-lg-6
    %b Students Marks:
    %table.table.table-striped
      %thead
      %tbody
        - @exam.subject_results.group_by(&:exam).each do |exam, results|
          %tr.thead-dark 
            -# %td= link_to exam.exam_name, exam
          %tr
            %thead
              %tr
                %th Subject
                %th Marks
            -results.group_by(&:subject).each do |subject, result|
              %tbody
                %tr
                %tr
                  %td= link_to subject.name, subject
                - result.each do |res|
                  %tr
                    - res.marks.each do |mark|
                      %td= link_to mark.student.stud_name, mark.student
                      %td= mark.mark
  
  -# ********************* //EXPERIMENT ZONE B ************************
  %div.col-lg-6
    %h3 Form One Green 2021
    %table.table.table-striped
      %thead
        %tr
          %th.head-rotate Student name
          %th.head-rotate Stream
          %th.head-rotate Subjects
          %th.head-rotate English
          %th.head-rotate Kiswahili 
          %th.head-rotate Maths
          %th.head-rotate &sum;
      %tbody
        %tr
          %td Peter Wamae
          %td G
          %td 3
          %td 56
          %td 45
          %td 52
          %td 153
        %tr
          %td John Ngugi
          %td R
          %td 3
          %td 56
          %td 45
          %td 52
          %td 153

%div.row
  %div.col-lg-6
    %b Students Marks:
    %table.table.table-striped
      %thead
      %tbody
        - @exam.subject_results.group_by(&:exam).each do |exam, results|
          %tr.thead-dark 
            -# %td= link_to exam.exam_name, exam
          %tr
            %thead
              %tr
                %th Subject
                %th Marks
            -results.group_by(&:subject).each do |subject, result|
              %tbody
                %tr
                %tr
                  %td= link_to subject.name, subject
                - result.each do |res|
                  %tr
                    - res.marks.each do |mark|
                      %td= link_to mark.student.stud_name, mark.student
                      %td= mark.mark