<!DOCTYPE html>
<html>
  <head>
    <title>Mtihani</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <div class="row">
      <nav>
        <%= link_to 'Home', root_path %>
        <%= link_to 'Year', years_path %>
        <%= link_to 'Term', terms_path %>
        <%= link_to 'Classes', classrooms_path %>
        <%= link_to 'Streams', streams_path %>
        <%= link_to 'Students', students_path %>
        <%= link_to 'Subjects', subjects_path %>
        <%= link_to 'Results', results_path %>
        <%= link_to 'Marks', marks_path %>
      </nav>
    </div>
      <%= yield %>
  </body>
</html>
